---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { ExifDetails } from "~/components/exif-details";
import Root from "~/layouts/root.astro";
import { getExif } from "~/lib/exif";
import { formatDate } from "~/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("gallery-posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const { data, body, slug } = Astro.props as CollectionEntry<"gallery-posts">;

const exifData = await Promise.all(
  data.photos.map((photo) => getExif(photo.path)),
);
---

<Root
  title={data.title + " · Zachary Robinson"}
  description={body}
  parent="Gallery"
  ogImage={`/og/gallery/${slug}.png`}
>
  <article class="mx-auto max-w-prose">
    <div class="mb-8 w-full">
      <h1 class="text-4xl font-semibold" style="text-wrap: balance;">
        {data.title}
      </h1>

      <p class="text-muted-foreground">
        <span>{formatDate(data.date)}</span> · {data.photos.length} photos
      </p>
    </div>

    <div class="flex max-w-full flex-col gap-4">
      {
        data.photos.map((photo, i) => (
          <div class="flex items-center gap-4">
            <Image
              src={photo.path}
              alt={slug + "image preview" + i}
              class="w-1/2 rounded-lg object-contain"
              quality="max"
            />
            <ExifDetails details={exifData[i]} />
          </div>
        ))
      }
    </div>
  </article>
</Root>
