---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import Socials from "~/components/socials.astro";
import Root from "~/layouts/root.astro";
import { slugify } from "~/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const { data, render, body, slug } = Astro.props as CollectionEntry<"posts">;
const { Content, remarkPluginFrontmatter } = await render();

let posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const postIndex = posts.findIndex((post) => post.slug === slug);
const prevPost = posts[postIndex + 1] as CollectionEntry<"posts"> | undefined;
const nextPost = posts[postIndex - 1] as CollectionEntry<"posts"> | undefined;
---

<Root
  title={data.title + " · Zachary Robinson"}
  description={body}
  keywords={data.tags}
  parent="Posts"
  ogImage={`/og/posts/${slug}.png`}
>
  <article>
    <h1>{data.title}</h1>

    <time datetime={data.date.toISOString()}>
      {data.date.toISOString().split("T")[0]}
    </time>

    {
      data.updatedDate && (
        <time title={data.updatedDate.toISOString()}>
          {data.date.toISOString().split("T")[0]}
        </time>
      )
    }

    <p>{remarkPluginFrontmatter.minutesRead.split(" ")[0]} min read</p>

    {
      data.tags && (
        <div class="mt-4 flex flex-wrap gap-2">
          {data.tags.map((tag) => (
            <a href={`/tags/${slugify(tag)}`}>{tag}</a>
          ))}
        </div>
      )
    }

    {
      data.coverAlt && data.cover && (
        <Image src={data.cover} alt={data.coverAlt} loading="eager" />
      )
    }

    {data.disclaimer && <blockquote>{data.disclaimer}</blockquote>}

    <Content />
  </article>

  <p>Written By Zachary Robinson</p>
  <Socials />
  <p>
    Thanks for reading! If you enjoyed this post, please consider sharing it. If
    you have any comments, questions, or feedback, don't hesitate to reach out
    to me.
  </p>

  <div class="flex grid-cols-2 flex-col gap-4 sm:grid sm:items-start">
    {prevPost && <a href={`/posts/${prevPost.slug}`}>Previous Post</a>}
    {nextPost && <a href={`/posts/${nextPost.slug}`}>Previous Post</a>}
  </div>
</Root>

<style>
  article :global(*) {
    line-height: 1.5;
  }
  time {
    font-family: monospace;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
