---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import Comments from "~/components/comments.astro";
import HorizontalRule from "~/components/horizontal-rule.astro";
import PostList from "~/components/post-list.astro";
import Socials from "~/components/socials.astro";
import Root from "~/layouts/root.astro";
import { slugify } from "~/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const { data, render, body, slug } = Astro.props as CollectionEntry<"posts">;
const { Content, remarkPluginFrontmatter } = await render();
const mins = remarkPluginFrontmatter.minutesRead.split(" ")[0];

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter((x) => x.slug !== slug)
  .toSpliced(3);
---

<Root
  title={data.title + " · Zachary Robinson"}
  description={body}
  keywords={data.tags}
  parent="Posts"
  ogImage={`/og/posts/${slug}.png`}
>
  <article>
    <h1>{data.title}</h1>

    <p class="byline">
      <time datetime={data.date.toISOString()}>
        {data.date.toISOString().split("T")[0]}
      </time>

      {
        data.updatedDate && (
          <time title={data.updatedDate.toISOString()}>
            | Updated {data.date.toISOString().split("T")[0]}
          </time>
        )
      }

      | By Zachary Robinson | {mins} minute read
    </p>

    {
      data.coverAlt && data.cover && (
        <Image src={data.cover} alt={data.coverAlt} loading="eager" />
      )
    }

    <Content />
  </article>

  <HorizontalRule />

  <p>Written by Zachary Robinson, find me on <Socials />.</p>

  <p>
    Thanks for reading! If you enjoyed this post, please consider sharing it. If
    you have any comments, questions, or feedback, don't hesitate to reach out
    to me.
  </p>

  <h2 id="comments">Comments</h2>

  {!data.hackernews && <p>Comments have not been enabled for this post.</p>}
  {data.hackernews && <Comments id={data.hackernews} server:defer />}

  <h2>Recent Posts</h2>
  <PostList posts={posts} />
</Root>

<style>
  .byline {
    margin: 1rem 0 2rem 0;
  }

  article > .byline + :global(blockquote) {
    margin-bottom: 2rem;
  }

  article + :global(.hr) {
    margin: 2rem 0 2rem 0;
  }
</style>
