---
import Image from "astro/components/Image.astro";
import { CollectionEntry, getCollection } from "astro:content";
import { LinkBadge } from "~/components/link-badge";
import Root from "~/layouts/root.astro";
import { slugify } from "~/lib/utils";
import { formatDate } from "~/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const { data, render, body } = Astro.props as CollectionEntry<"posts">;
const { Content, remarkPluginFrontmatter } = await render();
---

<Root
  title={data.title + " · Zachary Robinson"}
  description={body.split(" ").slice(0, 50).join(" ") + "..."}
  keywords={data.tags}
  parent="Posts"
>
  <article class="mb-48 flex flex-col items-center">
    <div class="mb-8 w-full max-w-prose">
      <h1 class="text-4xl font-semibold" style="text-wrap: balance;">
        {data.title}
      </h1>

      <p class="text-muted-foreground">
        <span
          title={data.updatedDate
            ? `Updated ${formatDate(data.updatedDate)}`
            : ""}>{formatDate(data.date)}</span
        > · {remarkPluginFrontmatter.minutesRead.split(" ")[0]} min read
      </p>

      {
        data.tags && (
          <div class="mt-4 flex gap-2">
            {data.tags.map((tag) => (
              <LinkBadge href={`/tags/${slugify(tag)}`} variant="default">
                {tag}
              </LinkBadge>
            ))}
          </div>
        )
      }
    </div>

    <div class="prose prose-zinc dark:prose-invert prose-img:rounded-md">
      {
        data.coverAlt && data.cover && (
          <div class="relative flex pb-4">
            <Image
              src={data.cover}
              alt={data.coverAlt}
              class="peer m-0 rounded-md"
            />
            <Image
              src={data.cover}
              alt={data.coverAlt}
              class="absolute -z-10 m-0 rounded-md blur-lg transition peer-hover:blur-xl"
            />
          </div>
        )
      }

      <Content />
    </div>
  </article>
</Root>
