---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import PostList from "~/components/post-list.astro";
import Socials from "~/components/socials.astro";
import Root from "~/layouts/root.astro";
import { slugify } from "~/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const { data, render, body, slug } = Astro.props as CollectionEntry<"posts">;
const { Content, remarkPluginFrontmatter } = await render();
const mins = remarkPluginFrontmatter.minutesRead.split(" ")[0];

let posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
posts.filter((x) => x.slug !== slug);
posts.splice(3);
---

<Root
  title={data.title + " · Zachary Robinson"}
  description={body}
  keywords={data.tags}
  parent="Posts"
  ogImage={`/og/posts/${slug}.png`}
>
  <article>
    <h1>{data.title}</h1>

    <p class="byline">
      <time datetime={data.date.toISOString()}>
        {data.date.toISOString().split("T")[0]}
      </time>

      {
        data.updatedDate && (
          <time title={data.updatedDate.toISOString()}>
            | Updated {data.date.toISOString().split("T")[0]}
          </time>
        )
      }

      | By Zachary Robinson | {mins} minute read
    </p>

    {
      data.coverAlt && data.cover && (
        <Image src={data.cover} alt={data.coverAlt} loading="eager" />
      )
    }

    <Content />
  </article>

  <hr />

  <p>Written by Zachary Robinson, find me on <Socials />.</p>

  <p>
    Thanks for reading! If you enjoyed this post, please consider sharing it. If
    you have any comments, questions, or feedback, don't hesitate to reach out
    to me.
  </p>

  <h2>Recent Posts</h2>
  <PostList posts={posts} />
</Root>

<style>
  /* apply line height to child elements */
  article > :global(*) {
    line-height: 1.5;
  }
  article * {
    line-height: unset;
  }

  .byline {
    font-family: monospace;
  }

  article :global(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  article :global(:not(pre) > code) {
    background-color: var(--ui);
  }

  article :global(pre) {
    background-color: var(--ui);
    padding: 16px;
    overflow-x: scroll;
  }
</style>
