---
import "~/styles/globals.css";
import Footer from "~/components/footer.astro";
import Navbar from "~/components/navbar.astro";

export type Props = {
  title: string;
  description?: string;
  keywords?: string[];
  parent?: string;
  noIndex?: boolean;
  ogImage?: string;
};

const {
  title,
  description,
  keywords,
  parent,
  noIndex = false,
  ogImage = "/og/index.png",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL(ogImage, Astro.site);

// prettier-ignore
const cleanDescription =
  description?.split("\n\n").join(" ").split("\n").join("");
const trimmedDescription =
  cleanDescription && cleanDescription.length > 200
    ? cleanDescription.slice(0, 197) + "..."
    : description;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- global metadata and links -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" type="application/rss+xml" href="/index.xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={trimmedDescription} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="keywords" content={keywords?.join(", ")} />
    {noIndex && <meta name="robots" content="noindex" />}

    <!-- open graph tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={trimmedDescription} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={canonicalURL} />

    <!-- twitter tags -->
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={trimmedDescription} />

    <!-- light/dark mode script -->
    <script is:inline>
      const media = window.matchMedia("(prefers-color-scheme: dark)");

      // set theme before react loads to avoid flash of incorrect theme
      const theme = localStorage.getItem("theme");

      if (theme === "dark" || (!theme && media.matches)) {
        document.documentElement.classList.add("dark");
      }

      // update class when user changes system theme
      media.addEventListener("change", (e) => {
        // if user has already set a theme, don't change it
        if (localStorage.getItem("theme") !== null) return;

        if (e.matches) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>

    <!-- umami analytics -->
    {
      process.env.NODE_ENV !== "development" && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="23440616-c52a-4f08-b14d-5b2b0fb26c91"
        />
      )
    }
  </head>

  <body>
    <Navbar parent={parent} />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
